<!DOCTYPE html>
<html>
    <head>
        <title>Node Js</title>
        <link rel="stylesheet" href="/assets/sematic/semantic.min.css">
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <a href="/" class="header item">Accueil</a>
        </div>
   <div class="ui main container">
